

/*Background start*/
.background-background {
    position: relative;
    background-image: url('/img/blocks_bg.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
}

.background-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 29, 29, 0.5);
    /* Hier kannst du die Transparenz anpassen */
    z-index: 1;
    /* Stelle sicher, dass das Pseudo-Element über dem Hintergrund liegt */
}

.background-background .container,
.background-background .roww,
.background-background .col-6,
.background-background h1 {
    position: relative;
    z-index: 2;
    /* Stelle sicher, dass die inneren Elemente über dem Pseudo-Element liegen */
}


/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
    .background-background {
        background-size: contain;
        /* Anpassung für kleinere Bildschirme */
    }
}


/* Stil für die horizontale Liste anpassen */
.horizontal-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Stil für die einzelnen Listenelemente anpassen */
.horizontal-list li {
    position: relative;
    padding: 0 3%;
    margin-left: 2%;
}

/* Füge einen senkrechten Strich am Anfang und Ende jeder LI hinzu */
.horizontal-list li::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000000;
    /* Farbe des Strichs anpassen */
    left: -1%;
}
/* Stil für die senkrechte Linie anpassen */
.vertical-line {
    border-left: 2px solid #000000; /* Farbe und Dicke der Linie anpassen */
    height: 30px; /* Höhe der Linie anpassen */
    margin: 0;
    padding: 0;
}

/*Navigation start*/


.navigationlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar.animation {
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

#navbar.animation {
    background-color: white;
}

.style{
    text-decoration: none;
    color: lightblue;
}

.style:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Höhe des Unterstrichs */
    bottom: 0;
    left: 0;
    background-color: white;
    animation: underlineAnimation 0.5s ease-in-out; /* Animationseffekt */
}

.style:hover{
    color: white;
}

@keyframes underlineAnimation {
    from {
      width: 0; /* Anfangszustand: Breite ist 0 */
    }
    to {
      width: 100%; /* Endzustand: Breite ist 100% */
    }
  }
/*Navigation end*/